<header>
    <nav>
      <div class="heading">
        <p>Issue Tracker </p>
        <a id="createProject" href="/project/createproject">
          <div class="add-button">
            <span class="plus-sign"></span>
          </div>
          Create Project
        </a>
      </div>
    </nav>
  </header>
  